body{
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 20px;
    margin: 50px auto;
}

h1{
    background-color: rgb(255, 168, 5);
    font-family: 'Smokum', cursive;
    font-style: oblique;
    text-shadow: -1px 1px 4px black;
    width: 590px;
    padding: 30px;
    border: 5px solid rgba(129, 97, 97, 0.548) ;
    margin: 30px ;
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgb(204, 136, 9) ;
    
}



h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration:dashed;
    text-decoration: double;
    text-shadow: -3px 3px 4px black;
    
}  

a{
    text-decoration: none;
    text-overflow: unset red;
    text-shadow: 3px 3px 4px #444; 

}

p{
    border: 2px solid blue;
}

.p1{
    text-transform: lowercase;
    border-width: 7px;
    border-color: yellow;
    border-style: ridge;
    padding: 30px 20px 30px 20px;
}

.p2{
    text-transform: capitalize;
}



.div1{
    background-color: #088;
    width: 300px;
    height: 400px;
    padding: 20px 100px 20px 100px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px purple ;
    overflow: auto;

}


